$port-h1-font-size: 1em;
$item-purple: #6F73BF;
$item-yellow: #F9D21A;
$item-blue: #23B7D9;
$item-green: #24A638;
$item-red: #F04D4C;
$color-nav: #D92332;

body{
  font-family: 'Roboto', sans-serif;
	margin: 0;
  padding: 0;
}



footer{
  padding: 1em;
  height: 100px;
  width: 100%;
  background-color: $color-nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  p.copy_company{
    order: 1;
    flex: 0 1 auto;
    min-height: auto;
    min-width: 0;
    color: #FFFFFF;
    font-size: 1.5em;
    align-self: center;
  }
  ul.socialmedia_icons{
    order: 2;
    flex: 0 1 auto;
    min-height: auto;
    min-width: 0;
    align-self: center;
   
    li{
      float: left;
      a{
        img{
          width: 35px;
          height: 35px;
          
        }
      }
    }
    li a{
      display: block;
    }
  }
}


nav{
	background-color: $color-nav;
	
}

div.slider{
  height: 100vh !important;

  ul.slides{
    height: 100vh !important;
  }
}

section.testimonials{
  align-items: center;
  display: flex;
  flex-direction: column;
	background-color: #FFFFFF;
	width: 100%;
	article{
    margin: 25px 0 25px 0;
    width: 60%;
		text-align: center;
		figure{
			margin: 0;
			img{
				width: 100%;
				height: 150px;
			}
		}
		h1{
			font-size: 1.5em;
			margin: 0;
		}
		p{
			margin: 0;
		}


	}
	
}

section.skills, section.companies{
	align-items: center;
	background-color: #3B0030;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	padding: 1em;
	justify-content: space-evenly;
	width: 100%;
	color: #FFFFFF;
	
	article.article{
    padding: 1em;
		width: 30%;
		flex-direction: column;
		text-align: center;
		i{
			font-size: 3em;

		}
		h1{
			margin: 0;
			font-size: 1em;
		}
	}

}

section.companies{
	color: #FFFFFF;
  background-color: #F53A33;
  article.article{
    svg{
      fill: #FFFFFF;
      width: 50px;
      height: 50px;
    }
  }
}

section.about-us{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 100%;
	figure{
		img{
		width: 200px;
		height:200px;
		}
	}
	article{
		padding: 1em;
	}
}

article.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  figure{
    align-self: auto;
    flex: 0 1 auto;
    padding: 0;
    img{
      border-radius: 50%;
    }
  }
  h1{
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 0;
    padding: 0;
  }
  p{
    text-align: center;
    padding: 0.5em;
    margin: 0;

  }  
}

.collapsible{
  min-height: calc(100vh - 156px);
  font-size: 2em;
 li.graphicdesign{
   div.graphicdesignmenu{
     section.logos{
       display: flex;
       flex-direction: column;
       background: $item-purple;
       height: 150px;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       text-align: center;
       width: 100%;
       h1{
         font-size: $port-h1-font-size;
        color: #FFFFFF;
         order: 1;
         flex: 0 1 auto;
         min-width: 0;
         min-height: auto;
         align-self: auto;
       }
     }
     section.illustrations{
      display: flex;
      flex-direction: column;
      background: $item-yellow;
      height: 150px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      h1{
        font-size: $port-h1-font-size;
       color: #FFFFFF;
        order: 1;
        flex: 0 1 auto;
        min-width: 0;
        min-height: auto;
        align-self: auto;
      }
    }
    section.businesscards{
      display: flex;
      flex-direction: column;
      background: $item-blue;
      height: 150px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      h1{
        font-size: $port-h1-font-size;
       color: #FFFFFF;
        order: 1;
        flex: 0 1 auto;
        min-width: 0;
        min-height: auto;
        align-self: auto;
      }
    }
    section.flyers{
      display: flex;
      flex-direction: column;
      background: $item-green;
      height: 150px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      h1{
        font-size: $port-h1-font-size;
       color: #FFFFFF;
        order: 1;
        flex: 0 1 auto;
        min-width: 0;
        min-height: auto;
        align-self: auto;
      }
    }
    
   }
 }
 section.logos{
  display: flex;
  flex-direction: column;
  background: $item-purple;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}
section.illustrations{
  display: flex;
  flex-direction: column;
  background: $item-yellow;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}
section.animations{
  display: flex;
  flex-direction: column;
  background: $item-blue;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}


section.blogs{
  display: flex;
  flex-direction: column;
  background: $item-purple;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}

section.services{
  display: flex;
  flex-direction: column;
  background: $item-yellow;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}

section.rest{
  display: flex;
  flex-direction: column;
  background: $item-blue;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}

section.plainphp{
  display: flex;
  flex-direction: column;
  background: $item-green;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}

section.laravel{
  display: flex;
  flex-direction: column;
  background: $item-red;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}
section.vanilla{
  display: flex;
  flex-direction: column;
  background: $item-purple;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  h1{
    font-size: $port-h1-font-size;
   color: #FFFFFF;
    order: 1;
    flex: 0 1 auto;
    min-width: 0;
    min-height: auto;
    align-self: auto;
  }
}


}

section.contact{
  min-height: calc(100vh - 156px);
}


/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 650px;
@media (min-width: $breakpoint-tablet) {
  section.skills, section.companies{
    font-size: 2em;
  }



  section.testimonials{
    display: flex;
    flex-direction: row;
    
    article{
      width: 100%;
      figure{
        img{
          width: 300px;
          height: 300px;
        }
      }
      h1{
        font-size: 3em;
      }
      p{
        margin: 0 auto;
       
        width: 300px;
        font-size: 1.5em;
      }
    }
  }
	


}