body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

nav{
	background-color: #D92332;
	
}


section.testimonials, section.skills{
	width: 100%;
	background-color: #9592F2;
	article{
		text-align: center;
		figure{
			margin: 0;
			img{
				width: 150px;
				height: 150px;
			}
		}
		h1{
			margin: 0;
			font-size: 1.5em;
		}


	}
	
}

section.skills{
	background-color: #F2EFC2;
}

section.companies{
	width: 100%;
	background-color: #401115;
	text-align: center;
	display: flex;
	flex-flow: row;
	figure.company{
		
		img{
			width: 40px;
			height: 40px;
		}
	}
}


/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 650px;
@media (min-width: $breakpoint-tablet) {
  nav{
  	background-color: #000000;
  }
}