body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  padding: 1em;
  height: 100px;
  width: 100%;
  background-color: #D92332;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
footer p.copy_company {
  order: 1;
  flex: 0 1 auto;
  min-height: auto;
  min-width: 0;
  color: #FFFFFF;
  font-size: 1.5em;
  align-self: center;
}
footer ul.socialmedia_icons {
  order: 2;
  flex: 0 1 auto;
  min-height: auto;
  min-width: 0;
  align-self: center;
}
footer ul.socialmedia_icons li {
  float: left;
}
footer ul.socialmedia_icons li a img {
  width: 35px;
  height: 35px;
}
footer ul.socialmedia_icons li a {
  display: block;
}

nav {
  background-color: #D92332;
}

div.slider {
  height: 100vh !important;
}
div.slider ul.slides {
  height: 100vh !important;
}

section.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
}
section.testimonials article {
  margin: 25px 0 25px 0;
  width: 60%;
  text-align: center;
}
section.testimonials article figure {
  margin: 0;
}
section.testimonials article figure img {
  width: 100%;
  height: 150px;
}
section.testimonials article h1 {
  font-size: 1.5em;
  margin: 0;
}
section.testimonials article p {
  margin: 0;
}

section.skills, section.companies {
  align-items: center;
  background-color: #3B0030;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  width: 100%;
  color: #FFFFFF;
}
section.skills article.article, section.companies article.article {
  padding: 1em;
  width: 30%;
  flex-direction: column;
  text-align: center;
}
section.skills article.article i, section.companies article.article i {
  font-size: 3em;
}
section.skills article.article h1, section.companies article.article h1 {
  margin: 0;
  font-size: 1em;
}

section.companies {
  color: #FFFFFF;
  background-color: #F53A33;
}
section.companies article.article svg {
  fill: #FFFFFF;
  width: 50px;
  height: 50px;
}

section.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
section.about-us figure img {
  width: 200px;
  height: 200px;
}
section.about-us article {
  padding: 1em;
}

article.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
article.post figure {
  align-self: auto;
  flex: 0 1 auto;
  padding: 0;
}
article.post figure img {
  border-radius: 50%;
}
article.post h1 {
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  margin: 0;
  padding: 0;
}
article.post p {
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

.collapsible {
  min-height: calc(100vh - 156px);
  font-size: 2em;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.logos {
  display: flex;
  flex-direction: column;
  background: #6F73BF;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.logos h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.illustrations {
  display: flex;
  flex-direction: column;
  background: #F9D21A;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.illustrations h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.businesscards {
  display: flex;
  flex-direction: column;
  background: #23B7D9;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.businesscards h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.flyers {
  display: flex;
  flex-direction: column;
  background: #24A638;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible li.graphicdesign div.graphicdesignmenu section.flyers h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.logos {
  display: flex;
  flex-direction: column;
  background: #6F73BF;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.logos h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.illustrations {
  display: flex;
  flex-direction: column;
  background: #F9D21A;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.illustrations h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.animations {
  display: flex;
  flex-direction: column;
  background: #23B7D9;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.animations h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.blogs {
  display: flex;
  flex-direction: column;
  background: #6F73BF;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.blogs h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.services {
  display: flex;
  flex-direction: column;
  background: #F9D21A;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.services h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.rest {
  display: flex;
  flex-direction: column;
  background: #23B7D9;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.rest h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.plainphp {
  display: flex;
  flex-direction: column;
  background: #24A638;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.plainphp h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.laravel {
  display: flex;
  flex-direction: column;
  background: #F04D4C;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.laravel h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}
.collapsible section.vanilla {
  display: flex;
  flex-direction: column;
  background: #6F73BF;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.collapsible section.vanilla h1 {
  font-size: 1em;
  color: #FFFFFF;
  order: 1;
  flex: 0 1 auto;
  min-width: 0;
  min-height: auto;
  align-self: auto;
}

section.contact {
  min-height: calc(100vh - 156px);
}

/* Using SCSS variables to store breakpoints */
@media (min-width: 650px) {
  section.skills, section.companies {
    font-size: 2em;
  }

  section.testimonials {
    display: flex;
    flex-direction: row;
  }
  section.testimonials article {
    width: 100%;
  }
  section.testimonials article figure img {
    width: 300px;
    height: 300px;
  }
  section.testimonials article h1 {
    font-size: 3em;
  }
  section.testimonials article p {
    margin: 0 auto;
    width: 300px;
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
